.container {
  display: grid;

  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";

  grid-template-columns: 0px 1fr 0px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 0px;

  height: 100vh;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
  margin-left: 0rem;
}

main {
  grid-area: content;
}

aside {
  grid-area: side;
  margin-right: 0rem;
}

footer {
  grid-area: footer;
}

@media (max-width: 560px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      auto /* Nav */
      auto /* Content */
      auto /* Sidebar */
      auto; /* Footer */
  }

  nav, aside {
    margin: 0;
  }

  main {
    margin: 0px 0px;
  }

  header {
    flex-wrap: wrap;
  }

}

.title * {
  text-align: center;
  color: white;
}
