footer {
	height: 100px;
	background-color: black;
	padding: 15px;
}

footer p {
	color: lightgray;
}

footer a {
	color: white;
	font-weight: 400;
}

footer a:hover {
	color: gray;
}

.social-icons {
	display:flex;
}

.SocialMediaShareButton {
	margin: 5px;
}