.job-item {
	margin: 30px 10vw 0 10vw;
	border-bottom-color: lightgray;
	border-width: thick;
}

.job-item h5 {
	margin: 0px;
}

@media (max-width: 560px) {
  .job-item {
		margin: 5vw;
  }
	.job-item h4,
	.job-item h5,
	.job-item h6{
		font-size: 1em;
  }
 }